
body {
    background: linear-gradient(cornflowerblue, saddlebrown);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table, th, td {
    background: linear-gradient(slategrey, darkslategray);
    font-style: italic;
    font-size: 40px;
    color: snow;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

div {
    text-align: center;
}

.login {
    background-image: url("/images/carInterior.jpeg");
    background-position: center;
}

.home {
    background-image: url("/images/panamera.jpg");
    background-position: center;
}

.add {
    background-image: url("/images/panamera.jpg");
    background-position: center;
}

.addTd {
    font-size: 20px;
}

.allTd {
    font-size: 15px;
}

a {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(slategrey, darkslategray);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;

}

a:hover {
    background: linear-gradient(darkgray, darkslategray);
}

a:active {
    position: relative;
    top: 1px;
}

.submit {
    font-size: 30px;
}

.homeButton {
    height: auto;
    width: auto;
    margin: 0.3em;
}

.paramButton {
    height: auto;
    width: 92%;
    margin: 0.3em;
}

.returnButton {
    margin-top: 2%;
}

.logoutButton {
    margin-top: 30%;
}

#msg {
    color: darkred;
    visibility: hidden;
}

#msg2 {
    color: darkred;
    visibility: hidden;
}
#msg3 {
    color: darkred;
    visibility: hidden;
}


